<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta charset="utf-8"/>
    <title> Términos y condiciones</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"/>


</head>

<body class="animated fadeInDown">

<header id="header">
    <div id="logo-group">
        <span id="logo"> <img th:src="@{/img/logo.png}" alt="Dennys Workout"/> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs"></span> <a href="register.html"
                                                                                        class="btn btn-danger">Volver al Carrito</a> </span>

</header>

<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <section class="content">
            <section class="content-header">
                <h1><span>VISA</span></h1>
            </section>
            <div class="form-group">
                <label class="col-xs-3 control-label">Términos y condiciones</label>
                <div class="col-xs-9">
                    <div style="border: 1px solid #e5e5e5; height: 365px; overflow: auto; padding: 10px;">
                        <p><strong> POLÍTICA DE PRIVACIDAD DE LA INFORMACIÓN </strong> </p>
                        <p>La presente Política de Privacidad describe todos los términos y condiciones aplicables al uso de nuestros contenidos y servicios disponibles bajo el dominio y sub dominios <span><a target="_blank" href="http://munisantanita.gob.pe">www.munisantanita.gob.pe</a></span>.</p>
                        <p><strong>COMPROMISO DE PRIVACIDAD:</strong></p>
                        <p>Para la Municipalidad es muy importante la privacidad de la información de sus administrados. Compartimos el compromiso de proteger su información personal y financiera dándole un tratamiento confidencial. Como proveedores de servicios que involucran información personal - a veces muy sensible - la confidencialidad ha sido, es y continuará siendo una prioridad de la Municipalidad.</p>
                        <p><strong>TÉRMINOS Y CONDICIONES:</strong></p>
                        <p>A continuación se describen la política de protección de datos de carácter personal para que el Usuario determine libre y voluntariamente si desea facilitar a la Municipalidad los Datos Personales que se le pueda requerir o que se pueda obtener del Usuario con ocasión de la suscripción en línea en los servicios ofrecidos por la Municipalidad a través de su portal web <span><a target="_blank" href="http://munisantanita.gob.pe">www.munisantanita.gob.pe</a></span></p>
                        <p>La Municipalidad se reserva el derecho de modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como prácticas de la industria. En dichos supuestos, la Municipalidad anunciará en ésta página y/o vía e-mail los cambios introducidos con razonable antelación a su puesta en práctica.</p>
                        <p>Ciertos servicios prestados en <span><a target="_blank" href="http://munisantanita.gob.pe">www.munisantanita.gob.pe</a></span> pueden contener condiciones particulares con previsiones específicas en materia de protección de Datos Personales.</p>
                        <p>Los Datos Personales recogidos serán objeto de tratamiento automatizado e incorporados a los correspondientes ficheros automatizados por la Municipalidad, siendo esta Institución titular y responsable del archivo en Perú, país en el que se alojan y tratan los datos personales (en adelante, el Archivo).</p>
                        <p>La Municipalidad les proporcionará a los Usuarios los recursos técnicos adecuados para que, con carácter previo, puedan acceder a este aviso sobre la Política de Privacidad o a cualquier otra información relevante y puedan prestar su consentimiento a fin de que la Municipalidad proceda al tratamiento automatizado de sus Datos Personales.</p>
                        <p>Salvo en los campos en que se indique lo contrario, las respuestas a las preguntas sobre Datos Personales son voluntarias, sin que la falta de contestación implique una merma en la calidad o cantidad de los servicios correspondientes, a menos que se indique lo contrario.</p>
                        <p>El Usuario garantiza que los Datos Personales facilitados a la Municipalidad son veraces y se hace responsable de comunicar a ésta cualquier modificación en los mismos.</p>
                        <p>La recopilación y tratamiento automatizado de los Datos Personales, recabados a través <span><a target="_blank" href="http://munisantanita.gob.pe">www.munisantanita.gob.pe</a></span> tienen como finalidad:</p>
                        <p>
                            &#9679	El mantenimiento de la relación establecida con la Municipalidad. <br>
                            &#9679	La gestión, administración, prestación, ampliación y mejora de los servicios en los que el Usuario decida suscribirse, darse de alta o utilizar.<br>
                            &#9679	La adecuación de dichos servicios a las preferencias y gustos de los Usuarios.<br>
                            &#9679	El estudio de la utilización de los servicios por parte de los Usuarios.<br>
                            &#9679	El diseño de nuevos servicios relacionados con dichos servicios.<br>
                            &#9679	El envío de actualizaciones de los servicios.<br>
                            &#9679	El envío, por medios tradicionales y electrónicos, de información técnica y operativa acerca de pago de tributos, multas y servicios ofrecidos por la Municipalidad, actualmente y en el futuro.<br>
                            &#9679	La finalidad de la recopilación y tratamiento automatizado de los Datos Personales incluye igualmente el envío de formularios de encuestas, que el Usuario no queda obligado a contestar.</p>
                        <p>La Municipalidad ha adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos y procura instalar aquellos otros medios y medidas técnicas adicionales para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados la Municipalidad.</p>
                        <p>El portal web <span><a target="_blank" href="http://munisantanita.gob.pe">www.munisantanita.gob.pe</a></span> no utilizan cookies ni alguna otra forma de almacenamiento de información en el computador del usuario.</p>
                        <p>La Municipalidad podrá almacenar y hacer uso de toda la información suministrada por el Usuario dentro de <span><a target="_blank" href="http://munisantanita.gob.pe">www.munisantanita.gob.pe</a></span> sin restricción alguna, salvo las proporcionadas a entidades financieras al momento de efectuar una transacción de pago en línea.</p>
                        <p>Las Empresas Financieras que intervienen en la operación y ejecución de los pagos de las obligaciones tributarias y no tributarias vía Internet (Pagos Virtuales) pueden tener Políticas de Privacidad diferentes a las de la Municipalidad por lo que no se aplica lo expuesto en el presente documento al tratamiento de los datos proporcionados por el usuario a dichas Empresas Financieras.
                            Para mayor información escríbanos a: <a href="mailto:informes@munisantanita.gob.pe">informes@munisantanita.gob.pe</a></p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="agree" name="agree"/> Acepto los términos y condiciones
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" hidden="hidden" id="divContinuar">
                <div style="text-align: right;">
                    <button id="btnContinuar" type="button" class="btn btn-primary btn-sm">Continuar</button>
                </div>
            </div>
        </section>
    </div>

</div>

<!--================================================== -->

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- 		<script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-3.2.1.min.js"><\/script>');} </script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- 		<script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui.min.js"><\/script>');} </script> -->

<script>

    $(function () {
        $('#agree').click(function() {
            if($('#agree').prop('checked') == true){
                $('#divContinuar').fadeOut('slow').removeAttr('hidden').fadeIn('slow');;
            }else{
                $('#divContinuar').attr('hidden','hidden');
            }
        });




        $("#btnContinuar").click(function(){
            window.document.location.href = "/p/pago";
        });
    });
</script>

</body>
</html>