<html lang="en" id="extr-page"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta charset="utf-8"/>
    <title> Pasarela de Pago</title>
    <meta name="description" content=""/>
    <meta name="_ctx" th:content="@{/}"/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        hr{

            border:         none;
            border-left:    1px solid hsla(200, 10%, 50%,100);
            height:         100vh;
            width:          1px;
        }

            .modal-lg {
                max-width: 1200px !important;
            }
    </style>
</head>

<body class="animated fadeInDown">

<header id="header">

</header>

<div id="main" role="main">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <div class="jumbotron mt-4">
            <div class="col-sm-12">
                <div class="row">
                    <div id="registro" class="col-sm-4">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <h5>Consultar Saldo</h5>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="label label-info">Ingrese su número</label>
                                <input type="text" class="form-control" id="txtnumero" name="txtnumero" value="51912000001" />
                            </div>
                            <div class="form-group">
                                <label class="label label-info">Tipo Servicio</label>
                                <select id="tiposervicio" class="form-control" >
                                    <option value="2">Servicio 2</option>
                                    <option value="3">Servicio 3</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="button" class="form-control btn btn-primary" id="btnGuardar" value="Consultar Saldo"/>
                            </div>


                            <div class="form-group resultado">
                                <label class="label label-info">Saldo Disponible</label>
                                <input type="text" style="text-align: right;" class="form-control" readonly="readonly" id="txtamount" name="txtamount"  />
                            </div>

                            <div class="form-group">
                                <input type="button" class="form-control btn btn-primary" id="btnVer" value="Consultar Transacciones"/>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="resultado" class="col-sm-7">
                        <div class="col-sm-4 resultado">
                            <div class="form-group">
                                <h5>Realizar Pago</h5>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 resultado">
                            <div class="form-group">
                                <label class="label label-info">Número</label>
                                <input type="text" class="form-control" readonly="readonly" id="txtnumber" name="txtnumber" />
                            </div>

                            <div class="form-group">
                                <label class="label label-info">Monto de pago</label>
                                <input type="text" class="form-control" id="txtamountpagar" name="txtamountpagar"  />
                            </div>

                            <div class="form-group">
                                <input type="button" class="form-control btn btn-primary" id="btnGenerarPago" value="GenerarPago"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->


    <div class="modal fade bd-example-modal-lg" id="listado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listadoTitle">Listado de Transacciones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table">
                        <thead style="font-size: 15px;">
                        <tr>
                            <th data-field="accountID" >accountID</th>
                            <th data-field="adjustmentTypeID">adjustmentTypeID</th>
                            <th data-field="agent">agent</th>
                            <th data-field="amount">amount</th>
                            <th data-field="balance">balance</th>
                            <th data-field="identifier">identifier</th>
                            <th data-formatter="parametterFormatter">parameters</th>
                            <th data-field="receiveDate">receiveDate</th>
                            <th data-field="subscriptionType">subscriptionType</th>
                            <th data-field="transactionDate">transactionDate</th>
                        </tr>
                        </thead>
                        <tbody id="bodytable" style="font-size: 13px">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>




</div>

<!--================================================== -->

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- 		<script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-3.2.1.min.js"><\/script>');} </script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- 		<script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui.min.js"><\/script>');} </script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>

    var _ctx = document.querySelector('head meta[name="_ctx"]').getAttribute("content");

    $(function () {


        $("#btnGuardar").click(consultarSaldo);
        $("#btnGenerarPago").click(generarPago);
        $("#btnVer").click(listarTransacciones);

    });

    function consultarSaldo() {
        var nrosumin = $("#txtnumero").val();
        var tiposerv = $("#tiposervicio").val();

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: _ctx + "kasnet/getpago",
            dataType: "json",
            data: {"nrosumin": nrosumin, "tiposerv": tiposerv},
            success: function (data) {
                if (data != null ) {
                    console.log(data);
                    var datos = data.data;
                    $("#txtnumber").val(datos.identifier);
                    $("#txtamount").val(datos.amount);

                }
            },
        });
    }

    function generarPago() {
        var nrosumin = $("#txtnumber").val();
        var amount = $("#txtamountpagar").val();

        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: _ctx + "kasnet/pago",
            dataType: "json",
            data: {"nrosumin": nrosumin, "amountstr": amount},
            success: function (data) {
                if (data == "1" ) {
                    window.location.href = _ctx+'k/pago';
                }
            },
        });
    }

    function listarTransacciones() {

        $("#bodytable").html("");

        var nrosumin = $("#txtnumero").val();
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: _ctx + "kasnet/listar",
            dataType: "json",
            data: {"nrosumin": nrosumin},
            success: function (data) {
                if (data != null ) {
                    console.log(data);
                    if(data.list.length >0 ) {

                        var TRS = "";
                        $.each(data.list, function (i,item) {
                            var TD = "";
                            TD += '<tr><td>'+ item.accountID +'</td>';
                            TD += '<td>'+ item.adjustmentTypeID +'</td>';
                            TD += '<td>'+ item.agent +'</td>';
                            TD += '<td>'+ item.amount +'</td>';
                            TD += '<td>'+ item.balance +'</td>';
                            TD += '<td>'+ item.identifier +'</td>';
                            TD += '<td>'+ parametterFormatter(item) +'</td>';
                            TD += '<td>'+ item.receiveDate +'</td>';
                            TD += '<td>'+ item.subscriptionType +'</td>';
                            TD += '<td>'+ item.transactionDate +'</td></tr>';
                            TRS += TD;
                        });

                        $("#bodytable").append(TRS);
                    }
                }
            },
            complete: function (data) {
                $('#listado').modal("show");
            }
        });
    }
    
    function parametterFormatter(row) {
        return "<label class='label label-info'>Nombre : "+row.parameters[0].name+" - "+row.parameters[0].value+" </label>" +
               "<label class='label label-info'>Nombre : "+row.parameters[1].name+" - "+row.parameters[1].value+" </label>"
    }

</script>

</body>
</html>